@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --color-ligth-50: #fff8f0 ;
    --color-dark-50: #848484;
    --color-dark-900: #000; 
    
    --color-ligthpink-50: #f8bbd0;
    --color-darkpink-50: #7a002b;
    --color-darkpink-100: #58002c;
    --color-darkpink-200:#3e0014;
    --color-yellow-50: #f3cc97;
    --color-ligthpink-100: #c43670;
    --color-ligthpink-200: #f283af;
    --color-deepblush-150: #e77291;
    --color-gradientligth: linear-gradient(90deg,var(--color-ligthpink-100),var(--color-ligthpink-200),var(--color-deepblush-150));
    --color-gradientdark: linear-gradient(90deg,var( --color-darkpink-50),var( --color-ligthpink-200),var(--color-darkpink-200));

}

*{
    font-family: "Josefin Sans",sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradientligth);
    display: flex;
    align-items: center;
    justify-content: center;
}


#login_form {
    background-color: var(--color-ligth-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
    animation: dark-to-ligth 0.3s ease-in-out;

}


#socialmedia {
    display: flex;
    justify-content: space-around;
}

#socialmedia i{
    font-size: 35px;
    color: var(--color-ligthpink-100);
    display: inline-block;
}


#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    

}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1::before{
    position:absolute;
    content: " ";
    width: 40%;
    background-color: var(--color-ligthpink-100);
    height: 3.5px;
    bottom: 10px;
    border-radius: 5px;

}

.bi-moon-stars-fill{
    cursor: pointer;
    font-size: 20px;
}

#socialmedia a:hover i{
    transform: scale(1.2);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);

}

.input-field {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.4px;
    cursor: text;
    border-bottom: 1px solid var(--color-ligthpink-50);
}

.input-field i{
    font-size: 20px;
    color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;


}

.input-field input:focus{
    outline: none;
}


#forgot_passworld a {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);

}

#forgot_passworld a:hover {
    color: var(--color-ligthpink-100);
}

#button {
    border: none;
    background: var(--color-gradientligth);
    color: var(--color-ligth-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    width: 260px;
    
    
}

#button:hover{
    transform: scale(1.05);
}

.bi-brightness-high-fill{
    cursor: pointer;
    font-size: 20px;
}

.dark#login_form{
    color: var(--color-ligth-50);
    background-color: var(--color-darkpink-100);
    animation: ligth-to-dark 0.3s ease-in-out;
}

.dark#login_form .input-field input, .dark#login_form .input-field i{
    color: var(--color-ligth-50);
}

.dark#login_form  #socialmedia i{
      color: var(--color-ligth-50);

}

.dark#login_form #button{
    background: var(--color-gradientdark);
    color: var(--color-ligth-50);

}


@keyframes dark-to-ligth {
    0%{
        background-color: var(--color-darkpink-100);
       
    }

    100%{
        background-color: var(--color-ligth-50);
    }
    
}

@keyframes ligth-to-dark {
    0%{
        background-color: var(--color-ligth-50);
    }

    100%{
        background-color: var(--color-darkpink-100);
    }
    
}